@import
	url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
	font-family: 'Roboto', sans-serif;
	background: #DE6262;
	background: -webkit-linear-gradient(to bottom, #FFB88C, #DE6262);
	background: linear-gradient(to bottom, #FFB88C, #DE6262);
	width: 100vw;
	height: 100vh;
}

/* ===================================== */
/* LOGIN PAGE */
/* ===================================== */
#login-page .login-box {
	margin: 75px auto 0;
	height: auto;
	background: #1A2226;
	text-align: center;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#login-page .login-title {
	text-align: center;
	font-size: 30px;
	letter-spacing: 2px;
	margin-top: 30px;
	font-weight: bold;
	color: #ECF0F5;
}

#login-page .login-form {
	margin-top: 25px;
	text-align: left;
}

#login-page input[type=text] {
	background-color: #1A2226;
	border: none;
	border-bottom: 2px solid #0DB8DE;
	border-top: 0px;
	border-radius: 0px;
	font-weight: bold;
	outline: 0;
	margin-bottom: 20px;
	padding-left: 0px;
	color: #ECF0F5;
}

#login-page input[type=password] {
	background-color: #1A2226;
	border: none;
	border-bottom: 2px solid #0DB8DE;
	border-top: 0px;
	border-radius: 0px;
	font-weight: bold;
	outline: 0;
	padding-left: 0px;
	margin-bottom: 20px;
	color: #ECF0F5;
}

#login-page .form-group {
	margin-bottom: 40px;
	outline: 0px;
}

#login-page .form-control:focus {
	border-color: inherit;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-bottom: 2px solid #0DB8DE;
	outline: 0;
	background-color: #1A2226;
	color: #ECF0F5;
}

#login-page input:focus {
	outline: none;
	box-shadow: 0 0 0;
}

#login-page label {
	margin-bottom: 0px;
	text-transform: uppercase;
}

#login-page .form-control-label {
	font-size: 10px;
	color: #6C6C6C;
	font-weight: bold;
	letter-spacing: 1px;
}

#login-page .btn-outline-primary {
	border-color: #0DB8DE;
	color: #0DB8DE;
	border-radius: 0px;
	font-weight: bold;
	letter-spacing: 1px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#login-page .btn-outline-primary:hover {
	background-color: #0DB8DE;
	color: #FFF;
	right: 0px;
}

#login-page .login-btm {
	margin-top: 15px;
}

#login-page .login-button {
	padding-right: 0px;
	text-align: right;
	margin-bottom: 25px;
}

#login-page .login-text {
	text-align: left;
	padding-left: 0px;
	color: #A2A4A4;
}

#login-page .login-text.login-text--error {
	color: #F00;
}

#login-page .loginbttm {
	padding: 0px;
}

/* ===================================== */
/* REGISTER PAGE */
/* ===================================== */
